<div class="create_pos_store_page">
  <div fxLayout="column" matDialogTitle>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"><b>{{data.flag}}
        <b  *ngIf="this.data.flag=='Update Store'">( <b style="color: red">{{this.data.store_Data.id}}</b> )</b></b></span>
      <button (click)="dialogRef.close()" aria-label="Close dialog" mat-icon-button class="header_button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-divider style="margin-top: 5px"></mat-divider>
  </div>
  <div class="popup_locationContent" fxLayout="column" matDialogContent>
    <b style="padding: 5px;"><u>Info</u></b>
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayout.sm="column" fxLayoutGap="10px"
         fxLayoutGap.lt-sm="0px">
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>Contact No.</mat-label>
        <input matInput  [(ngModel)]="contact_no">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayout.sm="column" fxLayoutGap="10px"
         fxLayoutGap.lt-sm="0px">
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>GST Type</mat-label>
        <mat-select [(ngModel)]="gst_type"
                    placeholder="GST Type">
          <mat-option [value]="'Registered'">Registered</mat-option>
          <mat-option [value]="'Composite'">Composite</mat-option>
          <mat-option [value]="'Unregistered'">Unregistered</mat-option>
          <mat-option [value]="'Import'">Import</mat-option>
          <mat-option [value]="'Exempted'">Exempted</mat-option>
          <mat-option [value]="'Sez'">Sez</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>GST No</mat-label>
        <input [disabled]="(gst_type=='Registered'||gst_type=='Import')?false:true" matInput type="text" [(ngModel)]="gst_no">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>Price Group</mat-label>
        <mat-select [(ngModel)]="price_group">
          <mat-option value="Specific Store">Specific Store</mat-option>
          <mat-option *ngFor="let data of price_group_list_data" [value]="data.group_code">{{data.group_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-checkbox [(ngModel)]="is_ho" class="example-margin">Store Have H.O. Authorization.</mat-checkbox>
    <b style="padding: 5px"><u>Address Info</u></b>
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayout.sm="column" fxLayoutGap="10px"
         fxLayoutGap.lt-sm="0px">
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>Country</mat-label>
        <mat-select [(ngModel)]="country" [disabled]="this.data.flag == 'Update Store'?true:false">
          <mat-option *ngFor="let coun of countryList" [value]="coun.name">{{coun.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="state" [disabled]="this.data.flag == 'Update Store'?true:false">
          <mat-option (click)="bindDistrict(stat.code)" *ngFor="let stat of state_List" [value]="stat.code">{{stat.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="32">
        <mat-label>District</mat-label>
        <mat-select [(ngModel)]="city" [disabled]="this.data.flag == 'Update Store'?true:false">
          <mat-option *ngFor="let dist of district_list" [value]="dist.district_name">{{dist.district_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayout.sm="column" fxLayoutGap="10px"
         fxLayoutGap.lt-sm="0px">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Address</mat-label>
        <textarea matInput type="number" [(ngModel)]="address" rows="2" required></textarea>
      </mat-form-field>

    </div>
    <div fxLayout="column">
      <button style="margin-top: 23px" [disabled]="((name==''||name==null)|| (city==''||city==null)|| (price_group==''||price_group==null))?true:false "  (click)="OnsubmitHit()" color="accent"
              mat-raised-button> SAVE
      </button>
    </div>

  </div>
</div>


