<div class="page-layout simple fullwidth inner-scroll" fxLayout="column">
  <div class="p-16" pristinePerfectScrollbar>
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
      <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column"
           fxLayoutAlign="start">


        <div class="h3 p-8">
          <b>Adjustment List </b>

          <button mat-icon-button matTooltip="New Adjustment" (click)="start_adjustment('Create')"
                  class="header_button">
            <mat-icon>add_circle</mat-icon>
          </button>

        </div>
        <mat-divider></mat-divider>
        <br>
        <div class="p-8" fxFlex fxLayout="column" fxLayout.lt-sm="column">
          <div class="example-container">
            <table [dataSource]="dataSource" mat-table matSort>
              <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                <th *matHeaderCellDef mat-header-cell>
                  <div class="filterHeader">
                    <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                    <input (keyup)="applyFilter($event.target.value,column)"
                           *ngIf="column!='Update' && column!='View'"
                           [placeholder]="column|firstAnd_Split"
                           matInput>
                  </div>
                </th>
                <td *matCellDef="let element" mat-cell>
                  <p *ngIf="column!='Update' && column!='View';else elseAction">{{element[column]}}</p>
                  <ng-template #elseAction>
                    <button (click)="start_adjustment('view', element)" *ngIf="column=='View'"
                            mat-icon-button>
                      <mat-icon class="icon-size">visibility</mat-icon>
                    </button>
                    <button [disabled]="element.approval_status!='Pending'" (click)="start_adjustment('update',element)" *ngIf="column!='View'"
                            mat-icon-button>
                      <mat-icon class="icon-size">edit</mat-icon>
                    </button>
                  </ng-template>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
            <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
            <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
          </div>
          <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="PageNumber" [pageSize]="RowsPerPage" [length]="length"
                         (page)="myPagginaterEvent($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

