<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="itemlist_Page">
  <div class="p-12" pristinePerfectScrollbar>
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
      <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column"
           fxLayoutAlign="start">
        <div class="h3 p-8">
          <b>Item List </b>
        </div>
        <mat-divider></mat-divider>
        <div class="p-16" fxFlex fxLayout="column" fxLayout.lt-sm="column">
          <div class="postedexample-container1">
            <table [dataSource]="dataSource" mat-table matSort>
              <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column"
                            [stickyEnd]="column=='Edit'||column=='View'|| column=='good_inventory'||column=='bad_inventory'"
                            [sticky]="column=='item_no'">
                <th *matHeaderCellDef mat-header-cell>
                  <div class="filterHeader">
                    <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                    <input (keyup)="applyFilter($event.target.value,column)"
                           *ngIf="column!='item_image' &&column!='Edit' && column!='View' && column!='gst_group_name' && column !='main_category'
&& column !='sub_category'&& column !='gst_group'&& column !='hsn_code'&& column !='good_inventory'&& column !='bad_inventory'"
                           [placeholder]="column|firstAnd_Split">
                  </div>
                </th>
                <td *matCellDef="let element" mat-cell>
                  <p *ngIf="column!='View';else elseAction">{{element[column]}}</p>
                  <ng-template #elseAction>
                    <!--                    <button  matTooltip="Update Item" class="rounded_shadow_button" (click)="updateitem(element)" *ngIf="column=='Edit'" mat-icon-button>-->
                    <!--                      <mat-icon class="icon-size">edit</mat-icon>-->
                    <!--                    </button>-->
                    <button matTooltip="View Item" class="rounded_shadow_button" (click)="viewinfo(element)"
                            *ngIf="column=='View'" mat-icon-button>
                      <mat-icon class="icon-size">visibility</mat-icon>
                    </button>
                  </ng-template>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row
                  (click)="clickOnRow(row.mid)"
                  [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
            </table>
            <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
            <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
          </div>
          <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="PageNumber" [pageSize]="RowsPerPage" [length]="length"
                         (page)="myPagginaterEvent($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

