@import "../../../../../@pristine/scss/pristine";

#TransferOrderListPage {
  .header_button {
    height: 30px;
    width: 30px;
    float: right;
    line-height: 30px;
    box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 0.42);

    .mat-icon {
      height: 20px;
      width: 20px;
      line-height: 20px;
      font-size: 20px;
    }
  }
}
