@import "../../../../../@pristine/scss/pristine";

.myInput {
  height: 40px !important;
  width: 100px !important;
  padding: 10px 10px 10px 10px !important;
  border:  black 1px solid;
  border: round(20);
}
