@import "src/@pristine/scss/pristine";
#receivetranferOrderBYuserPage{

  .header_button {
    height: 30px;
    width: 30px;
    float: right;
    line-height: 30px;
    box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 0.42);

    .mat-icon {
      height: 20px;
      width: 20px;
      line-height: 20px;
      font-size: 20px;
    }
  }


  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.55em 0px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.30em;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.3em) scale(.75);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
